In [216]:
import numpy as np 
import pandas as pd 
from datetime import datetime, date, time
from datetime import timedelta
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
%matplotlib inline
import seaborn as sns

In [217]:
df = pd.read_csv('JHU.csv')

C:\Users\hz2cp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [218]:
df

,Unnamed: 0,Unnamed: 1,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio
0,0,0,45001.0,Abbeville,South Carolina,US,2020-04-07 23:04:49,34.223334,-82.461707,5,0.0,0.0,0.0,"Abbeville, South Carolina, US",NaN,NaN,NaN,NaN
1,0,1,22001.0,Acadia,Louisiana,US,2020-04-07 23:04:49,30.295065,-92.414197,82,2.0,0.0,0.0,"Acadia, Louisiana, US",NaN,NaN,NaN,NaN
2,0,2,51001.0,Accomack,Virginia,US,2020-04-07 23:04:49,37.767072,-75.632346,11,0.0,0.0,0.0,"Accomack, Virginia, US",NaN,NaN,NaN,NaN
3,0,3,16001.0,Ada,Idaho,US,2020-04-07 23:04:49,43.452658,-116.241552,419,3.0,0.0,0.0,"Ada, Idaho, US",NaN,NaN,NaN,NaN
4,0,4,19001.0,Adair,Iowa,US,2020-04-07 23:04:49,41.330756,-94.471059,1,0.0,0.0,0.0,"Adair, Iowa, US",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296893,339,3976,NaN,NaN,NaN,Vietnam,2021-03-13 05:25:15,14.058324,108.277199,2550,35.0,2086.0,429.0,Vietnam,NaN,NaN,2.619722,1.37255
1296894,339,3977,NaN,NaN,NaN,West Bank and Gaza,2021-03-13 05:25:15,31.952200,35.233200,205652,2228.0,183003.0,20421.0,West Bank and Gaza,NaN,NaN,4031.272886,1.08338
1296895,339,3978,NaN,NaN,NaN,Yemen,2021-03-13 05:25:15,15.552727,48.516388,2729,679.0,1469.0,581.0,Yemen,NaN,NaN,9.149745,24.8809
1296896,339,3979,NaN,NaN,NaN,Zambia,2021-03-13 05:25:15,-13.133897,27.849332,84240,1149.0,80462.0,2629.0,Zambia,NaN,NaN,458.225640,1.36396
1296897,339,3980,NaN,NaN,NaN,Zimbabwe,2021-03-13 05:25:15,-19.015438,29.154857,36423,1496.0,33996.0,931.0,Zimbabwe,NaN,NaN,245.059402,4.10729

In [219]:
df.isnull().sum()

Unnamed: 0                  0
Unnamed: 1                  0
FIPS                   217360
Admin2                 215758
Province_State          58232
Country_Region              0
Last_Update                 0
Lat                     26999
Long_                   26999
Confirmed                   0
Deaths                      1
Recovered               19653
Active                  20276
Combined_Key                0
Incidence_Rate         672460
Case-Fatality_Ratio    667877
Incident_Rate          814475
Case_Fatality_Ratio    808893
dtype: int64

In [220]:
df['Last_Update']=pd.to_datetime(df['Last_Update']).dt.date #only datetime left, but become object
df['Last_Update']=pd.to_datetime(df['Last_Update']) #normalize to datetime

In [221]:
df.dtypes

Unnamed: 0                      int64
Unnamed: 1                      int64
FIPS                          float64
Admin2                         object
Province_State                 object
Country_Region                 object
Last_Update            datetime64[ns]
Lat                           float64
Long_                         float64
Confirmed                       int64
Deaths                        float64
Recovered                     float64
Active                        float64
Combined_Key                   object
Incidence_Rate                float64
Case-Fatality_Ratio           float64
Incident_Rate                 float64
Case_Fatality_Ratio            object
dtype: object

In [222]:
df.sort_values(by=['Country_Region', 'Province_State','Admin2','Last_Update'], inplace=True)

In [223]:
df['Last_Update'].min(), df['Last_Update'].max()

(Timestamp('2020-02-23 00:00:00'), Timestamp('2021-03-13 00:00:00'))

## add Hong Kong data

In [224]:
len(df['Country_Region'].unique())

192

In [225]:
df

,Unnamed: 0,Unnamed: 1,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio
2678,0,2678,NaN,NaN,NaN,Afghanistan,2020-04-07,33.939110,67.709953,424,16.0,18.0,391.0,Afghanistan,NaN,NaN,NaN,NaN
5562,1,2704,NaN,NaN,NaN,Afghanistan,2020-04-08,33.939110,67.709953,445,16.0,29.0,401.0,Afghanistan,NaN,NaN,NaN,NaN
8474,2,2732,NaN,NaN,NaN,Afghanistan,2020-04-09,33.939110,67.709953,485,17.0,32.0,437.0,Afghanistan,NaN,NaN,NaN,NaN
11415,3,2761,NaN,NaN,NaN,Afghanistan,2020-04-10,33.939110,67.709953,532,18.0,32.0,474.0,Afghanistan,NaN,NaN,NaN,NaN
14382,4,2785,NaN,NaN,NaN,Afghanistan,2020-04-11,33.939110,67.709953,556,18.0,32.0,505.0,Afghanistan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280973,335,3980,NaN,NaN,NaN,Zimbabwe,2021-03-09,-19.015438,29.154857,36289,1487.0,33872.0,930.0,Zimbabwe,NaN,NaN,244.157830,4.09766
1284954,336,3980,NaN,NaN,NaN,Zimbabwe,2021-03-10,-19.015438,29.154857,36321,1489.0,33919.0,913.0,Zimbabwe,NaN,NaN,244.373131,4.09956
1288935,337,3980,NaN,NaN,NaN,Zimbabwe,2021-03-11,-19.015438,29.154857,36341,1489.0,33953.0,899.0,Zimbabwe,NaN,NaN,244.507694,4.0973
1292916,338,3980,NaN,NaN,NaN,Zimbabwe,2021-03-12,-19.015438,29.154857,36377,1492.0,33972.0,913.0,Zimbabwe,NaN,NaN,244.749907,4.10149
1296897,339,3980,NaN,NaN,NaN,Zimbabwe,2021-03-13,-19.015438,29.154857,36423,1496.0,33996.0,931.0,Zimbabwe,NaN,NaN,245.059402,4.10729

In [227]:
df['Country_Region'].loc[df['Province_State'] =="Hong Kong"] = "Hong Kong"
df

C:\Users\hz2cp\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Unnamed: 0,Unnamed: 1,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio
2678,0,2678,NaN,NaN,NaN,Afghanistan,2020-04-07,33.939110,67.709953,424,16.0,18.0,391.0,Afghanistan,NaN,NaN,NaN,NaN
5562,1,2704,NaN,NaN,NaN,Afghanistan,2020-04-08,33.939110,67.709953,445,16.0,29.0,401.0,Afghanistan,NaN,NaN,NaN,NaN
8474,2,2732,NaN,NaN,NaN,Afghanistan,2020-04-09,33.939110,67.709953,485,17.0,32.0,437.0,Afghanistan,NaN,NaN,NaN,NaN
11415,3,2761,NaN,NaN,NaN,Afghanistan,2020-04-10,33.939110,67.709953,532,18.0,32.0,474.0,Afghanistan,NaN,NaN,NaN,NaN
14382,4,2785,NaN,NaN,NaN,Afghanistan,2020-04-11,33.939110,67.709953,556,18.0,32.0,505.0,Afghanistan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280973,335,3980,NaN,NaN,NaN,Zimbabwe,2021-03-09,-19.015438,29.154857,36289,1487.0,33872.0,930.0,Zimbabwe,NaN,NaN,244.157830,4.09766
1284954,336,3980,NaN,NaN,NaN,Zimbabwe,2021-03-10,-19.015438,29.154857,36321,1489.0,33919.0,913.0,Zimbabwe,NaN,NaN,244.373131,4.09956
1288935,337,3980,NaN,NaN,NaN,Zimbabwe,2021-03-11,-19.015438,29.154857,36341,1489.0,33953.0,899.0,Zimbabwe,NaN,NaN,244.507694,4.0973
1292916,338,3980,NaN,NaN,NaN,Zimbabwe,2021-03-12,-19.015438,29.154857,36377,1492.0,33972.0,913.0,Zimbabwe,NaN,NaN,244.749907,4.10149
1296897,339,3980,NaN,NaN,NaN,Zimbabwe,2021-03-13,-19.015438,29.154857,36423,1496.0,33996.0,931.0,Zimbabwe,NaN,NaN,245.059402,4.10729

In [228]:
df[df['Country_Region']=="Hong Kong"]

,Unnamed: 0,Unnamed: 1,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio
2622,0,2622,NaN,NaN,Hong Kong,Hong Kong,2020-04-07,22.3,114.2,935,4.0,216.0,715.0,"Hong Kong, China",NaN,NaN,NaN,NaN
5506,1,2648,NaN,NaN,Hong Kong,Hong Kong,2020-04-08,22.3,114.2,960,4.0,264.0,692.0,"Hong Kong, China",NaN,NaN,NaN,NaN
8418,2,2676,NaN,NaN,Hong Kong,Hong Kong,2020-04-09,22.3,114.2,973,4.0,293.0,676.0,"Hong Kong, China",NaN,NaN,NaN,NaN
11359,3,2705,NaN,NaN,Hong Kong,Hong Kong,2020-04-10,22.3,114.2,989,4.0,309.0,676.0,"Hong Kong, China",NaN,NaN,NaN,NaN
14326,4,2729,NaN,NaN,Hong Kong,Hong Kong,2020-04-11,22.3,114.2,1000,4.0,336.0,660.0,"Hong Kong, China",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277116,335,123,NaN,NaN,Hong Kong,Hong Kong,2021-03-09,22.3,114.2,11099,202.0,10636.0,261.0,"Hong Kong, China",NaN,NaN,148.046122,1.81998
1281097,336,123,NaN,NaN,Hong Kong,Hong Kong,2021-03-10,22.3,114.2,11120,202.0,10662.0,256.0,"Hong Kong, China",NaN,NaN,148.326234,1.81655
1285078,337,123,NaN,NaN,Hong Kong,Hong Kong,2021-03-11,22.3,114.2,11128,203.0,10675.0,250.0,"Hong Kong, China",NaN,NaN,148.432944,1.82423
1289059,338,123,NaN,NaN,Hong Kong,Hong Kong,2021-03-12,22.3,114.2,11150,203.0,10694.0,253.0,"Hong Kong, China",NaN,NaN,148.726395,1.82063
1293040,339,123,NaN,NaN,Hong Kong,Hong Kong,2021-03-13,22.3,114.2,11210,203.0,10711.0,296.0,"Hong Kong, China",NaN,NaN,149.526717,1.81088

In [229]:
df = df[['Country_Region','Last_Update','Confirmed','Deaths','Recovered','Active']]

In [230]:
data = df.groupby(['Country_Region','Last_Update']).sum()

In [231]:
data = data.reset_index()
data

      Country_Region Last_Update  Confirmed  Deaths  Recovered  Active
0        Afghanistan  2020-04-07        424    16.0       18.0   391.0
1        Afghanistan  2020-04-08        445    16.0       29.0   401.0
2        Afghanistan  2020-04-09        485    17.0       32.0   437.0
3        Afghanistan  2020-04-10        532    18.0       32.0   474.0
4        Afghanistan  2020-04-11        556    18.0       32.0   505.0
...              ...         ...        ...     ...        ...     ...
64638       Zimbabwe  2021-03-09      36289  1487.0    33872.0   930.0
64639       Zimbabwe  2021-03-10      36321  1489.0    33919.0   913.0
64640       Zimbabwe  2021-03-11      36341  1489.0    33953.0   899.0
64641       Zimbabwe  2021-03-12      36377  1492.0    33972.0   913.0
64642       Zimbabwe  2021-03-13      36423  1496.0    33996.0   931.0

[64643 rows x 6 columns]

## Create a lag data

In [232]:
df2 = data.copy()

In [233]:
df2['Lag_Date'] = df2['Last_Update'] + timedelta(days=1)

In [234]:
df2

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Lag_Date
0,Afghanistan,2020-04-07,424,16.0,18.0,391.0,2020-04-08
1,Afghanistan,2020-04-08,445,16.0,29.0,401.0,2020-04-09
2,Afghanistan,2020-04-09,485,17.0,32.0,437.0,2020-04-10
3,Afghanistan,2020-04-10,532,18.0,32.0,474.0,2020-04-11
4,Afghanistan,2020-04-11,556,18.0,32.0,505.0,2020-04-12
...,...,...,...,...,...,...,...
64638,Zimbabwe,2021-03-09,36289,1487.0,33872.0,930.0,2021-03-10
64639,Zimbabwe,2021-03-10,36321,1489.0,33919.0,913.0,2021-03-11
64640,Zimbabwe,2021-03-11,36341,1489.0,33953.0,899.0,2021-03-12
64641,Zimbabwe,2021-03-12,36377,1492.0,33972.0,913.0,2021-03-13
64642,Zimbabwe,2021-03-13,36423,1496.0,33996.0,931.0,2021-03-14

In [235]:
df2.rename(columns={'Confirmed':'Confirmed_pre', 'Deaths':'Deaths_pre','Recovered':'Recovered_pre','Active':'Active_pre'}, inplace=True)
df2.drop(columns=['Last_Update'], inplace=True)

In [236]:
df2

,Country_Region,Confirmed_pre,Deaths_pre,Recovered_pre,Active_pre,Lag_Date
0,Afghanistan,424,16.0,18.0,391.0,2020-04-08
1,Afghanistan,445,16.0,29.0,401.0,2020-04-09
2,Afghanistan,485,17.0,32.0,437.0,2020-04-10
3,Afghanistan,532,18.0,32.0,474.0,2020-04-11
4,Afghanistan,556,18.0,32.0,505.0,2020-04-12
...,...,...,...,...,...,...
64638,Zimbabwe,36289,1487.0,33872.0,930.0,2021-03-10
64639,Zimbabwe,36321,1489.0,33919.0,913.0,2021-03-11
64640,Zimbabwe,36341,1489.0,33953.0,899.0,2021-03-12
64641,Zimbabwe,36377,1492.0,33972.0,913.0,2021-03-13
64642,Zimbabwe,36423,1496.0,33996.0,931.0,2021-03-14

In [237]:
data=pd.merge(data, df2, left_on=['Country_Region','Last_Update'], right_on=['Country_Region','Lag_Date'], how='left')

In [238]:
data['Confirmed_new'] = data['Confirmed'] - data['Confirmed_pre']
data['Deaths_new'] = data['Deaths'] - data['Deaths_pre']
data['Recovered_new'] = data['Recovered'] - data['Recovered_pre']
data['Active_new'] = data['Active'] - data['Active_pre']

In [239]:
data

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Confirmed_pre,Deaths_pre,Recovered_pre,Active_pre,Lag_Date,Confirmed_new,Deaths_new,Recovered_new,Active_new
0,Afghanistan,2020-04-07,424,16.0,18.0,391.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,Afghanistan,2020-04-08,445,16.0,29.0,401.0,424.0,16.0,18.0,391.0,2020-04-08,21.0,0.0,11.0,10.0
2,Afghanistan,2020-04-09,485,17.0,32.0,437.0,445.0,16.0,29.0,401.0,2020-04-09,40.0,1.0,3.0,36.0
3,Afghanistan,2020-04-10,532,18.0,32.0,474.0,485.0,17.0,32.0,437.0,2020-04-10,47.0,1.0,0.0,37.0
4,Afghanistan,2020-04-11,556,18.0,32.0,505.0,532.0,18.0,32.0,474.0,2020-04-11,24.0,0.0,0.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64638,Zimbabwe,2021-03-09,36289,1487.0,33872.0,930.0,36271.0,1485.0,33834.0,952.0,2021-03-09,18.0,2.0,38.0,-22.0
64639,Zimbabwe,2021-03-10,36321,1489.0,33919.0,913.0,36289.0,1487.0,33872.0,930.0,2021-03-10,32.0,2.0,47.0,-17.0
64640,Zimbabwe,2021-03-11,36341,1489.0,33953.0,899.0,36321.0,1489.0,33919.0,913.0,2021-03-11,20.0,0.0,34.0,-14.0
64641,Zimbabwe,2021-03-12,36377,1492.0,33972.0,913.0,36341.0,1489.0,33953.0,899.0,2021-03-12,36.0,3.0,19.0,14.0
64642,Zimbabwe,2021-03-13,36423,1496.0,33996.0,931.0,36377.0,1492.0,33972.0,913.0,2021-03-13,46.0,4.0,24.0,18.0

In [240]:
data[data['Country_Region']=='US']

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Confirmed_pre,Deaths_pre,Recovered_pre,Active_pre,Lag_Date,Confirmed_new,Deaths_new,Recovered_new,Active_new
60102,US,2020-04-07,396594,13046.0,21763.0,0.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
60103,US,2020-04-08,429576,15017.0,23559.0,0.0,396594.0,13046.0,21763.0,0.0,2020-04-08,32982.0,1971.0,1796.0,0.0
60104,US,2020-04-09,461913,16767.0,25410.0,0.0,429576.0,15017.0,23559.0,0.0,2020-04-09,32337.0,1750.0,1851.0,0.0
60105,US,2020-04-10,496964,18866.0,28790.0,0.0,461913.0,16767.0,25410.0,0.0,2020-04-10,35051.0,2099.0,3380.0,0.0
60106,US,2020-04-11,526764,20743.0,31270.0,0.0,496964.0,18866.0,28790.0,0.0,2020-04-11,29800.0,1877.0,2480.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60438,US,2021-03-09,29107200,526124.0,0.0,0.0,29062186.0,525400.0,0.0,0.0,2021-03-09,45014.0,724.0,0.0,0.0
60439,US,2021-03-10,29164895,527912.0,0.0,0.0,29107200.0,526124.0,0.0,0.0,2021-03-10,57695.0,1788.0,0.0,0.0
60440,US,2021-03-11,29222834,529466.0,0.0,0.0,29164895.0,527912.0,0.0,0.0,2021-03-11,57939.0,1554.0,0.0,0.0
60441,US,2021-03-12,29285238,531023.0,0.0,0.0,29222834.0,529466.0,0.0,0.0,2021-03-12,62404.0,1557.0,0.0,0.0
60442,US,2021-03-13,29346442,532583.0,0.0,0.0,29285238.0,531023.0,0.0,0.0,2021-03-13,61204.0,1560.0,0.0,0.0

In [241]:
data.drop(columns=['Confirmed_pre','Deaths_pre','Recovered_pre','Active_pre','Lag_Date'], inplace=True)

In [242]:
data

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Confirmed_new,Deaths_new,Recovered_new,Active_new
0,Afghanistan,2020-04-07,424,16.0,18.0,391.0,NaN,NaN,NaN,NaN
1,Afghanistan,2020-04-08,445,16.0,29.0,401.0,21.0,0.0,11.0,10.0
2,Afghanistan,2020-04-09,485,17.0,32.0,437.0,40.0,1.0,3.0,36.0
3,Afghanistan,2020-04-10,532,18.0,32.0,474.0,47.0,1.0,0.0,37.0
4,Afghanistan,2020-04-11,556,18.0,32.0,505.0,24.0,0.0,0.0,31.0
...,...,...,...,...,...,...,...,...,...,...
64638,Zimbabwe,2021-03-09,36289,1487.0,33872.0,930.0,18.0,2.0,38.0,-22.0
64639,Zimbabwe,2021-03-10,36321,1489.0,33919.0,913.0,32.0,2.0,47.0,-17.0
64640,Zimbabwe,2021-03-11,36341,1489.0,33953.0,899.0,20.0,0.0,34.0,-14.0
64641,Zimbabwe,2021-03-12,36377,1492.0,33972.0,913.0,36.0,3.0,19.0,14.0
64642,Zimbabwe,2021-03-13,36423,1496.0,33996.0,931.0,46.0,4.0,24.0,18.0

# Weekly summary of covid cases

In [243]:
data_week=data.groupby(['Country_Region']).resample("W", on='Last_Update').sum()

In [244]:
data_week.reset_index(inplace=True)

In [245]:
data_week

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Confirmed_new,Deaths_new,Recovered_new,Active_new
0,Afghanistan,2020-04-12,3050,104.0,175.0,2765.0,184.0,3.0,14.0,166.0
1,Afghanistan,2020-04-19,5845,197.0,511.0,5135.0,389.0,14.0,99.0,275.0
2,Afghanistan,2020-04-26,7328,242.0,1006.0,6137.0,408.0,14.0,44.0,308.0
3,Afghanistan,2020-05-03,13894,434.0,1808.0,11739.0,1006.0,25.0,143.0,838.0
4,Afghanistan,2020-05-10,23605,704.0,3063.0,19821.0,1572.0,43.0,171.0,1350.0
...,...,...,...,...,...,...,...,...,...,...
9320,Zimbabwe,2021-02-14,243868,9537.0,205655.0,28676.0,617.0,82.0,1706.0,-1171.0
9321,Zimbabwe,2021-02-21,248153,9924.0,219843.0,18386.0,664.0,34.0,2007.0,-1377.0
9322,Zimbabwe,2021-02-28,251624,10165.0,226623.0,14836.0,290.0,31.0,494.0,-235.0
9323,Zimbabwe,2021-03-07,253262,10333.0,233148.0,9781.0,202.0,22.0,1215.0,-1035.0
9324,Zimbabwe,2021-03-14,218022,8938.0,203546.0,5538.0,163.0,11.0,191.0,-39.0

# Merge covid cases with survey data

In [246]:
ds =pd.read_csv("covid_with_factors.csv")

In [247]:
ds

,gender,age,geography,financial_situation,education,employment_status,ethnicity,religion,batch_date,observation_lat,...,which_media_outlets_do_you_think_only_report_on_the_potential_disadvantages_of_a_covid_19_vaccine,how_safe_do_you_believe_the_covid_19_vaccines_being_developed_now_are,which_of_the_following_countries_do_you_feel_the_most_ready_to_receive_a_covid_19_vaccine_from,how_much_do_you_agree_with_the_following_statement_u201cvaccines_are_necessary_to_promote_herd_immunity_and_ensure_the_health_and_safety_of_everyone_in_the_community_including_immunocompromised_individuals_u201d,when_a_covid_19_vaccine_becomes_widely_publicly_available_how_likely_are_you_to_get_it,how_quickly_will_you_get_the_covid_19_vaccine,fa1_fear_covid,fa2_informative,fa3_national_econ,fa4_personal_econ_mental
0,Male,16 to 25 years old,Rural,"I can afford food and regular expenses, but no...",College or university,Student,Fon and related,Roman Catholic,2020-07-28,6.428,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,0.814147,-0.065453,0.332161,-1.026584
1,Male,16 to 25 years old,Rural,"I can afford food and regular expenses, and bu...",College or university,Student,Other,Protestantism,2020-10-03,6.540,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,0.213584,-0.719275,-0.487774,0.923087
2,Male,16 to 25 years old,Rural,"I can afford food and regular expenses, but no...",College or university,Employed part-time,Adja and related,Roman Catholic,2020-05-05,6.379,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,-0.008754,-0.806824,-0.443234,0.227423
3,Male,16 to 25 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",College or university,Student,Fon and related,Roman Catholic,2020-09-24,6.368,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,-0.072995,-1.146501,-0.199900,0.281364
4,Male,16 to 25 years old,Rural,"I can afford food, but nothing else",College or university,Student,Fon and related,Roman Catholic,2020-12-03,6.362,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,0.155507,0.014414,0.060345,0.254438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866980,Male,16 to 25 years old,Rural,I cannot afford enough food for my family,Secondary/high school,Self-employed,Bambara,Muslim,2020-10-12,12.606,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,-1.367195,0.713730,1.340219,-1.130805
2866981,Male,16 to 25 years old,City center or metropolitan area,"I can afford food, but nothing else",College or university,Student,Malinke,Muslim,2020-07-28,12.599,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,-0.086368,-0.516485,0.824638,0.493570
2866982,Male,26 to 35 years old,City center or metropolitan area,"I can afford food and regular expenses, and bu...",College or university,Unemployed,Bambara,Muslim,2020-08-25,12.577,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,0.154908,-0.704735,-0.239287,0.197399
2866983,Male,36 to 45 years old,City center or metropolitan area,I cannot afford enough food for my family,College or university,Student,Bambara,Muslim,2020-06-02,12.619,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,1.232840,0.732748,0.890572,0.210420
2866984,Male,16 to 25 years old,City center or metropolitan area,I cannot afford enough food for my family,College or university,Student,Malinke,Muslim,2020-05-26,12.599,...,did not exist,did not exist,did not exist,NaN,did not exist,did not exist,0.235415,0.428653,0.285425,-0.656712

In [248]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2866985 entries, 0 to 2866984
Data columns (total 78 columns):
 #   Column                                                                                                                                                                                                               Dtype
---  ------                                                                                                                                                                                                               -----
 0   gender                                                                                                                                                                                                               object
 1   age                                                                                                                                                                                                                  object
 2   geography                                                                                                                                                                                                            object
 3   financial_situation                                                                                                                                                                                                  object
 4   education                                                                                                                                                                                                            object
 5   employment_status                                                                                                                                                                                                    object
 6   ethnicity                                                                                                                                                                                                            object
 7   religion                                                                                                                                                                                                             object
 8   batch_date                                                                                                                                                                                                           object
 9   observation_lat                                                                                                                                                                                                      float64
 10  observation_lon                                                                                                                                                                                                      float64
 11  HASC_code                                                                                                                                                                                                            object
 12  L0_name                                                                                                                                                                                                              object
 13  L1_name                                                                                                                                                                                                              object
 14  L2_name                                                                                                                                                                                                              object
 15  intro_input                                                                                                                                                                                                          object
 16  the_following_questions_will_ask_you_about_the_spread_of_covid_19_in_your_area                                                                                                                                       object
 17  how_concerned_are_you_about_the_spread_of_covid_19_in_your_community                                                                                                                                                 float64
 18  have_you_personally_contracted_covid_19                                                                                                                                                                              object
 19  did_you_seek_medical_care_to_treat_covid_19                                                                                                                                                                          object
 20  how_satisfied_were_you_with_the_level_of_care_you_received                                                                                                                                                           float64
 21  how_confident_are_you_that_you_are_immune_should_a_"second_wave"_emerge_in_the_future                                                                                                                                float64
 22  why_were_you_not_tested                                                                                                                                                                                              object
 23  how_concerned_are_you_that_you_personally_will_contract_covid_19                                                                                                                                                     float64
 24  how_concerned_are_you_about_your_access_to_adequate_health_care_services_should_you_contract_covid_19                                                                                                                float64
 25  do_you_know_if_testing_for_coronavirus_is_available_in_your_city                                                                                                                                                     object
 26  what_kind_of_locations_or_facilities_are_offering_testing_in_your_city                                                                                                                                               object
 27  the_following_questions_will_ask_you_about_the_government_response_to_and_economic_impact_of_the_covid_19_pandemic_in_your_area                                                                                      object
 28  which_of_the_following_statements_best_describes_your_attitude_towards_your_local_town_or_municipality_governmentu2019s_response_to_covid_19_my_local_government_hasu2026                                            object
 29  do_you_trust_your_local_or_national_government_to_make_more_effective_decisions_regarding_covid_19                                                                                                                   object
 30  are_non_essential_businesses_in_your_area_closed                                                                                                                                                                     object
 31  are_non_essential_businesses_closed_by_declaration_of_authorities_or_voluntarily                                                                                                                                     object
 32  when_do_you_believe_non_essential_businesses_should_open_in_your_area                                                                                                                                                object
 33  what_do_you_think_of_the_timing_of_the_decision_to_re_open_non_essential_businesses_in_your_area                                                                                                                     object
 34  which_of_the_following_activities_will_you_feel_comfortable_with_now_or_immediately_after_non_essential_businesses_re_open                                                                                           object
 35  when_do_you_anticipate_feeling_comfortable_shopping_at_non_essential_stores                                                                                                                                          object
 36  when_do_you_anticipate_feeling_comfortable_shopping_at_nonessential_stores_copy                                                                                                                                      object
 37  when_do_you_anticipate_feeling_comfortable_riding_public_transportation                                                                                                                                              object
 38  when_do_you_anticipate_feeling_comfortable_traveling_by_airplane                                                                                                                                                     object
 39  how_difficult_has_it_been_for_you_to_find_groceries_and_other_items                                                                                                                                                  float64
 40  which_of_the_following_categories_of_items_were_difficult_or_impossible_to_find                                                                                                                                      object
 41  from_which_of_the_following_places_have_you_purchased_or_looked_for_food_and_other_supplies                                                                                                                          object
 42  have_you_or_a_family_member_been_affected_by_price_gouging_for_goods_and_services_related_to_the_coronavirus_covid_19                                                                                                float64
 43  how_concerned_are_you_about_the_long_term_negative_impacts_the_coronavirus_could_have_on_your_national_economy                                                                                                       float64
 44  how_long_do_you_believe_it_will_take_for_your_local_economy_to_rebound_to_its_pre_covid_19_status                                                                                                                    object
 45  the_following_questions_will_ask_you_about_the_impact_of_the_covid_19_pandemic_on_your_day_to_day_life_and_personal_finances                                                                                         object
 46  has_your_income_been_at_all_affected_by_the_covid_19_pandemic                                                                                                                                                        float64
 47  in_the_past_week_how_much_did_you_reduce_the_number_of_hours_worked_compared_to_a_typical_week                                                                                                                       object
 48  how_long_do_you_believe_it_will_take_for_your_income_to_reach_its_pre_covid_19_levels                                                                                                                                object
 49  how_concerned_are_you_that_your_economic_situation_will_be_negatively_impacted_in_the_next_30_days_as_a_result_of_a_change_in_economic_activity                                                                      float64
 50  have_you_left_or_are_you_planning_to_leave_your_home_today                                                                                                                                                           object
 51  why_did_you_or_are_you_planning_to_leave_your_home_today                                                                                                                                                             object
 52  when_you_leave_your_home_do_you_typically_wear_a_face_mask                                                                                                                                                           float64
 53  why_do_you_not_wear_a_mask_when_you_leave_your_home                                                                                                                                                                  object
 54  one_last_question_what_do_you_think_has_negatively_impacted_your_daily_life_most_because_of_covid_19                                                                                                                 object
 55  do_you_have_school_aged_children_living_in_your_household                                                                                                                                                            object
 56  has_their_school_closed_due_to_covid_19                                                                                                                                                                              object
 57  what_do_you_think_of_the_decision_to_re_open_schools_in_your_area                                                                                                                                                    object
 58  have_you_canceled_or_altered_travel_plans_because_of_the_coronavirus_covid_19                                                                                                                                        object
 59  have_you_been_practicing_social_distancing_when_you_leave_the_house                                                                                                                                                  object
 60  which_of_the_following_factors_have_inclined_you_to_not_closely_follow_the_guidance_of_social_distancing                                                                                                             object
 61  which_of_the_following_behaviors_are_you_or_do_you_expect_to_demonstrate_in_public_once_non_essential_businesses_re_open                                                                                             object
 62  how_much_of_an_impact_do_you_believe_the_covid_19_pandemic_and_subsequent_quarantine_measures_have_had_on_your_mental_and_emotional_health                                                                           float64
 63  finally_this_last_group_of_questions_will_ask_you_about_how_you_receive_information_about_covid_19                                                                                                                   object
 64  how_have_you_been_getting_updates_on_covid_19_from_the_list_below_select_all_the_types_of_media_youu2019ve_been_relying_on_for_updates_as_coronavirus_cases_increase                                                 object
 65  how_much_do_you_agree_with_the_following_statement_u201ci_am_well_informed_about_covid_19_and_understand_where_to_get_additional_informationu201d                                                                    float64
 66  how_satisfied_are_you_with_the_media_coverage_of_covid_19                                                                                                                                                            float64
 67  in_the_past_6_months_have_you_heard_read_or_seen_any_information_or_messaging_that_highlights_the_downsides_of_a_covid_19_vaccine                                                                                    object
 68  which_media_outlets_do_you_think_only_report_on_the_potential_disadvantages_of_a_covid_19_vaccine                                                                                                                    object
 69  how_safe_do_you_believe_the_covid_19_vaccines_being_developed_now_are                                                                                                                                                object
 70  which_of_the_following_countries_do_you_feel_the_most_ready_to_receive_a_covid_19_vaccine_from                                                                                                                       object
 71  how_much_do_you_agree_with_the_following_statement_u201cvaccines_are_necessary_to_promote_herd_immunity_and_ensure_the_health_and_safety_of_everyone_in_the_community_including_immunocompromised_individuals_u201d  float64
 72  when_a_covid_19_vaccine_becomes_widely_publicly_available_how_likely_are_you_to_get_it                                                                                                                               object
 73  how_quickly_will_you_get_the_covid_19_vaccine                                                                                                                                                                        object
 74  fa1_fear_covid                                                                                                                                                                                                       float64
 75  fa2_informative                                                                                                                                                                                                      float64
 76  fa3_national_econ                                                                                                                                                                                                    float64
 77  fa4_personal_econ_mental                                                                                                                                                                                             float64
dtypes: float64(21), object(57)
memory usage: 1.7+ GB

In [254]:
countries = sorted(ds['L0_name'].unique().astype(str))
countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antarctica',
 'Argentina',
 'Australia',
 'Austria',
 'Bahrain',
 'Bangladesh',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Cuba',
 "Côte d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Ethiopia',
 'Fiji',
 'France',
 'Gabon',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea-Bissau',
 'Honduras',
 'Hong Kong',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Lithuania',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mexico',
 'Moldova',
 'Monaco',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Oman',
 'Pakistan',
 'Palestina',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Slovakia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'nan']

In [258]:
covid_countries=sorted(data_week.Country_Region.unique().astype(str))
covid_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Côte d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [259]:
for i in countries: 
    if i not in covid_countries:
        print(i)

Antarctica
Palestina
Turkmenistan
nan

## rename countries

In [256]:
def country_recode(series):
    if series == "Cote d'Ivoire":
        return  "Côte d'Ivoire"
    if series == "Congo (Kinshasa)":
        return "Democratic Republic of the Congo"
    if series == "Burma":
        return "Myanmar"
    if series == "Congo (Brazzaville)":
        return "Republic of Congo"
    if series == "Korea, South":
        return "South Korea"
    if series == "Taiwan*":
        return "Taiwan"
    if series == "US":
        return "United States" 
    else:
        return series
      
data_week['Country_Region'] = data_week['Country_Region'].apply(country_recode)

In [257]:
data_week

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Confirmed_new,Deaths_new,Recovered_new,Active_new
0,Afghanistan,2020-04-12,3050,104.0,175.0,2765.0,184.0,3.0,14.0,166.0
1,Afghanistan,2020-04-19,5845,197.0,511.0,5135.0,389.0,14.0,99.0,275.0
2,Afghanistan,2020-04-26,7328,242.0,1006.0,6137.0,408.0,14.0,44.0,308.0
3,Afghanistan,2020-05-03,13894,434.0,1808.0,11739.0,1006.0,25.0,143.0,838.0
4,Afghanistan,2020-05-10,23605,704.0,3063.0,19821.0,1572.0,43.0,171.0,1350.0
...,...,...,...,...,...,...,...,...,...,...
9320,Zimbabwe,2021-02-14,243868,9537.0,205655.0,28676.0,617.0,82.0,1706.0,-1171.0
9321,Zimbabwe,2021-02-21,248153,9924.0,219843.0,18386.0,664.0,34.0,2007.0,-1377.0
9322,Zimbabwe,2021-02-28,251624,10165.0,226623.0,14836.0,290.0,31.0,494.0,-235.0
9323,Zimbabwe,2021-03-07,253262,10333.0,233148.0,9781.0,202.0,22.0,1215.0,-1035.0
9324,Zimbabwe,2021-03-14,218022,8938.0,203546.0,5538.0,163.0,11.0,191.0,-39.0

In [262]:
data_week.to_csv("covid_cases_by_country_by_week.csv")

In [264]:
ds['batch_date'] = pd.to_datetime(ds['batch_date'])

In [268]:
ds=ds[['batch_date','L0_name','fa1_fear_covid','fa2_informative','fa3_national_econ','fa4_personal_econ_mental']]

In [271]:
ds = ds.groupby('L0_name').resample("W", on='batch_date').mean().reset_index()

In [272]:
ds

,L0_name,batch_date,fa1_fear_covid,fa2_informative,fa3_national_econ,fa4_personal_econ_mental
0,Afghanistan,2020-04-12,-0.149525,0.042621,-0.306506,0.278335
1,Afghanistan,2020-04-19,-0.071309,0.082180,-0.195399,0.265829
2,Afghanistan,2020-04-26,-0.088491,0.085498,-0.025832,0.238013
3,Afghanistan,2020-05-03,-0.050857,0.098359,-0.047927,0.227911
4,Afghanistan,2020-05-10,-0.079274,0.094047,0.014708,0.170836
...,...,...,...,...,...,...
4244,Zimbabwe,2020-12-06,0.292546,0.411299,-0.185977,0.108239
4245,Zimbabwe,2020-12-13,0.318365,0.368357,-0.201406,0.143507
4246,Zimbabwe,2020-12-20,0.299900,0.331047,-0.180897,0.148905
4247,Zimbabwe,2020-12-27,0.276663,0.351696,-0.145331,0.061775
4248,Zimbabwe,2021-01-03,0.255256,0.318194,-0.132208,0.088171

In [274]:
ts_df = pd.merge(ds, data_week, left_on=['L0_name','batch_date'], right_on=['Country_Region','Last_Update'], how='left')

In [276]:
ts_df.drop(columns=['Country_Region','Last_Update'], inplace=True)

In [277]:
ts_df

,L0_name,batch_date,fa1_fear_covid,fa2_informative,fa3_national_econ,fa4_personal_econ_mental,Confirmed,Deaths,Recovered,Active,Confirmed_new,Deaths_new,Recovered_new,Active_new
0,Afghanistan,2020-04-12,-0.149525,0.042621,-0.306506,0.278335,3050.0,104.0,175.0,2765.0,184.0,3.0,14.0,166.0
1,Afghanistan,2020-04-19,-0.071309,0.082180,-0.195399,0.265829,5845.0,197.0,511.0,5135.0,389.0,14.0,99.0,275.0
2,Afghanistan,2020-04-26,-0.088491,0.085498,-0.025832,0.238013,7328.0,242.0,1006.0,6137.0,408.0,14.0,44.0,308.0
3,Afghanistan,2020-05-03,-0.050857,0.098359,-0.047927,0.227911,13894.0,434.0,1808.0,11739.0,1006.0,25.0,143.0,838.0
4,Afghanistan,2020-05-10,-0.079274,0.094047,0.014708,0.170836,23605.0,704.0,3063.0,19821.0,1572.0,43.0,171.0,1350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4244,Zimbabwe,2020-12-06,0.292546,0.411299,-0.185977,0.108239,71618.0,1957.0,60640.0,9021.0,795.0,16.0,372.0,407.0
4245,Zimbabwe,2020-12-13,0.318365,0.368357,-0.201406,0.143507,76938.0,2110.0,63997.0,10831.0,602.0,16.0,515.0,71.0
4246,Zimbabwe,2020-12-20,0.299900,0.331047,-0.180897,0.148905,81939.0,2187.0,68020.0,11732.0,932.0,11.0,625.0,296.0
4247,Zimbabwe,2020-12-27,0.276663,0.351696,-0.145331,0.061775,88576.0,2319.0,71855.0,14402.0,812.0,23.0,535.0,254.0
4248,Zimbabwe,2021-01-03,0.255256,0.318194,-0.132208,0.088171,95617.0,2531.0,77479.0,15607.0,1528.0,36.0,844.0,648.0